footer { font-size: 90%; }
body {
  background-color: #393E41;
  color: white;
}

blockquote {
  background: #393E41;
}

a {
  color: #EBC3DB;
}

header {
  background: #393E41;
  border-bottom: 2px dotted #EBC3DB;

}

.article-meta, .menu a {
  background: #393E41;
  color: white;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #666; }
th, td { padding: 5px; }

